<div class="amiguitos">
    <div class="tituloBienBacano">Buscar Letras:</div>
    <input class="inputBienBacano" type="text" placeholder="Sé que tendrás que to cry">
    <button>Buscar!</button>
</div>
