/* You can add global styles to this file, and also import other style files */
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
app-root{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
app-root > *{
    flex-grow: 1;
    width: 100%;
}

.tituloBienBacano{
    color: white;
    font-size: 230%;
    font-variant: small-caps;
    font-weight: bolder;
    margin: 0 5px 0 0;
}

.inputBienBacano{
    font-size: 150%;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    flex-grow: 3;
    margin: 0 5px 0 0;
}

.amiguitos{
    display: flex;
}

.aLittleBigText{
    font-size: 150%;
    color: white;
}
.resultados{
    padding: 10px 0;
    .elemento{
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        width: 100%;
        .title{
            color: white;
            font-size: 110%;
            padding: 5px 10px;
            border-bottom: 1px solid white;
        }
        .info{
            border-right: 1px solid white;
            flex-grow: 1;
        }
    }
}